.content{


    .col-sm-12{
        margin: 0;
        padding: 0;

        
    }

    .Upper_caption{
            font-family: 'Inter';
            font-weight: normal ;
            font-size: 10px;
            color: $legendback;
            text-align: left;
            padding-top: 14px;
            
            padding-left: 28px;
            width: 150px;
            
        }
        width: 310px;
        margin-left: auto;
        margin-right: auto;
        position: relative;


        .text_input_area{
            margin-bottom: 11px;
            padding-top: 10px;

        

       .input_search{

        position: relative;
        padding-bottom: 11px;
        &::after{
            content: '';
            background-image: url(../img/search.png);
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 27px;
            z-index: 2;

        }
        .input_text{
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
            height: 40px;
            border: 1px solid #cccc;
            background: #111111;
            padding-left: 15px;
            font-family: 'Inter';
            font-size: 18px;
            font-weight: normal;
            color: #fff;
            position: relative;
            z-index: 2;
            margin: auto;
             display: block;
            
           
            
        }

       }
        

    }
        
        .text_input_area{

            font-family: 'Inter';
            font-size: 14px;
            font-weight: normal;
            color: #cccccc;
           
            position: relative;
            z-index: 1;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.1));
            border-radius: 15px;
            .row{

                display: flex;                                                                                          
           
                padding-left: 25px;
                .col-sm-4{
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    justify-content: left;

                    
                    .input-check[type="checkbox"] {
                            display: none;
                          
                            
                    }

                    .label_checkbox{

                        display: inline-block;
                        &::before{
                            content: '';
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            
                            border-radius: 5px;
                            //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                            background: $black;
                            border: 1px solid $ccc;

                            
                        }

                        

                        &:hover{
                           
                        }

                        
                         

                        
                    }

                    .checked{
                        &::before{
                            
                            background: $black url('../img/checkBox.png');
                            background-repeat: no-repeat;
                        }
                    }

                }
            }
         
            

            

        }
        
    }