.header {    
    
   .menu{
       position: relative;
        .menu-ul{
            position: relative;
            width: 45px;
            height: 45px;
            top: 15px;

            &:before{
                        content: '';
                        display: block;
                        width: 45px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 45px;
                       
                        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
                        background-color: $menubackground;
                        border-radius:  50%; 
                        z-index: 1;
                }


                        &:after{
                                content: '';
                                background-image: url('../img/line-shape.png');
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 2;
                                height: 100%;
                                width: 100%;
                                background-repeat: no-repeat;
                                background-position: center center;
                                

                            }


        }
      
       
   }
    /*end of first row*/

    .logo {
           
         
        @media (min-width: $screen-md-min) {                     
        }
        @media (min-width: $screen-lg-min) { 
         
        }
    }/*end of logo*/

    .title{
        font-family: 'Montserrat';
        font-weight: bold ;
        font-size: 10px;
        color: $ccc;
        @media (min-width: 375px) {  
            font-size: 36px;                   
        }
        @media (min-width: $screen-sm-min) {                     
        }
        @media (min-width: $screen-md-min) {                     
        }
        @media (min-width: $screen-lg-min) { 
         
        }
    }
   
}


